@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --prim-color: #00a0df;
    --sec-color: #e30c17;
}

body {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    background-color: #f6f6f6;
    margin: 0;
}

h1 {
    font-size: 50px;
    color: #e30c17;
}

h2 {
  font-size: 35px;
  color: #00a0df;
}

h3 {
  font-size: 25px;
  font-family: 'Arial';
  font-weight: bold;
}

h4 {
  font-size: 20px;
}

.titel h1 {
  color: #e30c17;
  padding-top: 25px;
}

nav {
  width: 200px;
  height: 100vh;
  background-color: var(--prim-color);
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  position: fixed;
  color: white;
  top: 0;
  left: 0;
  z-index: 1;
}


nav .logo {
  padding: 30px 0;
  text-align: center;
}

nav .logo img {
  width: 90%;
}

nav p {
  margin: 0 0 10px;
  padding-left: 20px;
  font-size: 20px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;

}

nav ul li {
  border-bottom: 2px solid rgba(200, 200, 200, 0.7);
  padding: 20px;
  position: relative;
}

nav ul li div {
  position: absolute;
  top: -2px;
  right: -20px;
  background-color: var(--prim-color);
  border-top: 2px solid rgba(200, 200, 200, 0.7);
  border-bottom: 2px solid rgba(200, 200, 200, 0.7);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 2px 3px rgba(100, 100, 100, 0.5);
  padding: 0;
  margin: 0;
  width: 20px;
  height: 107%;
  display: none;
}

nav ul li div.selected {
  display: block;
}

nav ul li div.selected + a {
  padding: 10px;
}

nav ul li:first-of-type {
  border-top: 2px solid rgba(200, 200, 200, 0.7);
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li:hover div {
  display: block;
}

main {
  margin: 40px 0 0 250px;
  height: 100vh;
}

.farver h2 {
    color: #00A0DF;
}

.farver h3 {
  margin-top: 20px;
}

.farver p {
  font-size: 15px;
  margin-top: 5px;
  text-transform: uppercase;
}

.farver > * {
  padding-right: 25px;
}

.colorbox {
    margin-top: 25px;
    margin-right: 25px;
    padding-top: 10px;
    height: 200px;
    width: 200px;
    background-color: #fff;
    display: inline-block;
    position: relative;
    border-radius: 25px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07),
                0 2px 4px rgba(0,0,0,0.07),
                0 4px 8px rgba(0,0,0,0.07);
  }

  .colorbox:hover {
    transform: scale(1.25);
  }

  .colorname {
    margin: 10px 0px 0px 10px;
  }

  .rød {
    margin-left: 10px;
    width: 180px;
    height: 100px;
    border-radius: 25px 25px 0px 0px;
    background-color: #e30c17;
  }

  .sort {
    margin-left: 10px;
    width: 180px;
    height: 100px;
    border-radius: 25px 25px 0px 0px;
    background-color: #000;
  }

  .primær-tekstholder-blå {
    margin-left: 10px;
    width: 180px;
    height: 100px;
    border-radius: 25px 25px 0px 0px;
    background-color: #00a0df;
  }


  .orange {
    margin-left: 10px;
    width: 180px;
    height: 100px;
    border-radius: 25px 25px 0px 0px;
    background-color: #f27f1a;
  }

  .violet {
    margin-left: 10px;
    width: 180px;
    height: 100px;
    border-radius: 25px 25px 0px 0px;
    background-color: #c126b8;
  }

  .grøn {
    margin-left: 10px;
    width: 180px;
    height: 100px;
    border-radius: 25px 25px 0px 0px;
    background-color: #3bd42e;
  }

  .typografi {
    margin-top: 25px;
    height: 750px;
  }

  .første-header-container {
    display: flex;
  }

  .header-container {
    margin-top: 25px;
    margin-right: 25px;
    vertical-align: top;
    text-align: center;
    width: 200px;
    height: 100px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07),
                0 2px 4px rgba(0,0,0,0.07),
                0 4px 8px rgba(0,0,0,0.07);
  }

.container {
  display: flex;
  flex-direction: column;
}

.container div {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.container div p {
  margin: 10px 0 5px;
}

.container button {
  background-color: var(--sec-color);
  border: none;
  border-radius: 6px;
  margin: 10px 0;
  width: fit-content;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
}

.container button:focus {
  outline: none;
}

.container button.sqr {
  border-radius: 0;
}

.container button.search {
  background-color: var(--prim-color);
}

.container div code {
  background-color: rgb(112, 112, 112);
  color: white;
  width: 70vw;
  border-radius: 12px;
  padding: 0 15px;
  margin: 10px 0 0;
  display: flex;
  justify-content: space-around;
}


.container div code div {
  width: 50%;
  padding-left: 10px;
  white-space: pre-wrap;
}

.container div code div:first-child {
  border-right: white solid 1px;
}

.container div .txt-holder-container {
  margin: 0 0 40px;
  position: relative;
  width: fit-content;
}

.container div .txt-holder {
  max-width: 300px;
  background-color: var(--prim-color);
  color: white;
  padding: 15px;
  margin: 0;
}

.container div .arrow-down {
  position: absolute;
  bottom: -60px;
  right: 33%;
  width: 0; 
  height: 0; 
  border-left: 40px solid transparent;
  border-right: 0px solid transparent;
  
  border-top: 40px solid var(--prim-color);
}

main .ikoner {
  display: flex;
  flex-direction: column;
}

main .ikoner div {
  margin-top: 25px;
}

main .ikoner img {
  width: 150px;
}

main .ikon {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

main .ikon p {
  margin-left: 20px;
}